<div class="content">
    <div class="title">
        <h2 style="margin-top: 1em; display: flex; align-items: center;" (click)="userService.onMenu()">
            <mat-icon>arrow_back</mat-icon>
            {{(order|async)?.timeCreated|date}}
        </h2>
        <span class="space"></span>
    </div>
    <div class="order-status">
        <div class="orders">
        <order-item 
            *ngFor="let item of (order|async)?.items; 
            index as index" 
            [item]="item" 
            [index]="index">
        </order-item>
            <div *ngIf="(noItem|async)" style="width: 100%;">
                <order-item-skeleton></order-item-skeleton>
                <order-item-skeleton></order-item-skeleton>
                <order-item-skeleton></order-item-skeleton>
            </div>
        </div>
        <div class="status">
            <order-status *ngIf="!(noItem|async)"></order-status>
            <order-status-skeleton *ngIf="(noItem|async)"></order-status-skeleton>
        </div>
    </div>
    <div class="messages">

    </div>
</div>
