.content{
    color: rgb(24, 23, 23);
    padding: 0 1em;
}
.order-status{
    display:flex;
    flex-direction:row;
}
.space{
    flex-grow: 1;
}
.orders{
    flex: 0.7;
    height: 100%;
    overflow-y:auto;
}
.title{
    height: 40px;
    display: flex;
    align-items:center;
}
.status{
    flex: 0.3;
    float:right;
}
h2 .mat-icon{
    margin-right: .5em;
    display:none;
}
@media(max-width: 768px){
    .order-status{
        flex-direction:column-reverse;
    }
    .status{
        margin-bottom: 1em;
    }
    h2 .mat-icon{
        display: initial;
    }
}