<div class="content">
    <div class="title">
        <label class="order-name">#Client Name/</label>
        <span class="space"></span>
    </div>
    <div class="order-status">
        <div class="orders">
        <order-item 
            *ngFor="let item of (order|async)?.items; 
            index as index" 
            [item]="item" 
            [index]="index"></order-item>
            <div *ngIf="(noItem|async)" style="width: 100%;">
                <order-item-skeleton></order-item-skeleton>
                <order-item-skeleton></order-item-skeleton>
                <order-item-skeleton></order-item-skeleton>
            </div>
        </div>
        <div class="status">
            <order-status></order-status>
        </div>
    </div>
    <div class="messages">

    </div>
</div>
