.basket-item{
    width: 96%;
    min-height: 100px;
    // border-radius: 2px;
    // border: 1px solid rgba(0, 0, 0, 0.14);
    margin: 2%;
    .basket-item-image{
        height: 90%;
        width: 120px;
        margin: 5px;
    }
    .description{
        margin: 10px;
    }
    .basket-item-title{
        margin:10px;
        font-size: medium;
        font-weight: 500;
    }
}