<div class="card">
    <img class="card-image skeleton" [src]="category.image">
    <div class="card-footer">
        <div style="display:flex;align-items:center">
            <label>{{category.name}}</label>
            <span style="flex-grow: 1;"></span>
            <span>
                <mat-icon color="primary">star</mat-icon>
            </span>
            <label for="mat-icon">3.2</label>
        </div>
        <button mat-flat-button [routerLink]="[category.id]"  color="primary">View Items</button>
        <button *ngIf="isAdmin" mat-icon-button [routerLink]="['edit',category.id]"  color="primary" class="edit">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
    </div>
</div>
