<div class="content">
    <div class="details">
        <h2 class="name">Tomato cheeze cake</h2>
            <div class="image-description">
                <img class="image" src="https://s3-eu-west-1.amazonaws.com/s3-gousto-production-media/cms/mood-image/3097---Turkey-Christmas-Dinner-With-All-The-Trimmings3550-1600849790452.jpg">
                <p>
                    description image tool did eventation 
                    we argu sckrim your name bambi my dear
                    ahahs whd amahaha ahah good badd gitse guble
                    description image tool did eventation 
                    we argu sckrim your name bambi my dear
                    ahahs whd amahaha ahah good badd gitse guble
                    description image tool did eventation 
                    we argu sckrim your name bambi my dear
                    ahahs whd amahaha ahah good badd gitse guble
                    description image tool did eventation 
                    we argu sckrim your name bambi my dear
                    ahahs whd amahaha ahah good badd gitse guble
                </p>
            </div>
            <div class="price-number">
                <b>Price: </b><label> 100 Xloty</label>
                <div style="flex-grow: 1;"></div>
                <b>Number Of Orders: </b><label> 100</label>
                <div style="flex-grow: 1;"></div>
                <b>Total Price: </b><label> 10000 Xloty</label>
            </div>
        
    </div>
    <div class="status">

    </div>
</div>
