
<div fxLayout="row" fxLayoutAlign="space-between center" fx class="content">
    
    <ng-content select="[right]"></ng-content>
    <custom-input [(ngModel)]="search"
        [properties] = "{name:'Search',hasTitle:false,icon:'search'}"
    ></custom-input>
    <ng-content select="[left]"></ng-content>

        <!-- <div class="title"> -->
            <!-- <mat-toolbar>
                <span>{{categoryItem.name||'Categories'}}</span>
                <div class="spacer"></div>
                <custom-input [(ngModel)]="search"
                [properties] = "{name:'Search',isTitle:false}"
                >
                </custom-input>
                <div class="spacer"></div>
                <button mat-button *ngIf="isAdmin" color="primary" [routerLink]="['register']">
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </mat-toolbar> -->
        <!-- </div> -->
</div>
