.spacer{
    flex: 1 1 auto;
}
.content{
    width:100%;
    background-color: white;
    padding: .25em;
}
.title{
    width:100%;
    display:flex;
    align-items: center;
}
.pd-category{
    padding: 0 2.5em 0 2.5em;
}
.no-pd-category{
    padding: 0;
}