<div class="content">
    <h2 for="form" >Login to Yadlings 
    </h2>
    <div class="inputs">
        <form [formGroup]="loginForm" (submit)="login()">
            <custom-input 
            formControlName="username" 
            [properties]="nameProps"
            ></custom-input>
            <custom-input 
            formControlName="password" 
            [properties]="passProps"
            ></custom-input>
            <div class="buttons">
                <button mat-button color="primary" type="button" (click)="register()">register</button>
                <div style="flex-grow: 1;"></div>
                <button 
                *ngIf="!hasSubmitted" 
                mat-flat-button color="primary"
                type="submit" 
                style="display: flex;flex-direction:row;align-items:center;"
                [disabled]="!loginForm.valid">                   
                    <span >Login</span>
                </button>
                <mat-spinner *ngIf="hasSubmitted" color="primary" diameter="20"></mat-spinner>
            </div> 
            
        </form>
    </div>
</div>
