.content{
    background-color: white;
    color: rgb(27, 26, 26);
    padding: 2em;
    border-radius: 5px;
}
.category,.account,.order,.performance{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}
.category label,.account label,.order label,.performance label{
    cursor: pointer;
    margin-left: 1em;
}
mat-divider{
    margin-bottom: 1em;
}
