.content{
    width: 300px;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    color: rgb(24, 23, 23);
}
b{
    color: rgb(43, 170, 117);
}
.status{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5em;
    background-color: white;
    border-radius: 5px;
}
.status button{
    align-self:flex-end;
    width: 40px;
}
textarea,textarea:focus{
    margin-top: .5em;
    padding: .5em;
    border-style: none;
    outline-style: none;
    resize: horizontal;
    width: 100%;
    overflow: visible;
}
.cancel-order{
    margin-top: 1em;
}