<div class="card">
    <div class="card-image skeleton"></div>
    <div class="card-footer">
        <div style="display:flex;align-items:center">
            <div class="title skeleton"></div>
            <span style="flex-grow: 1;"></span>
            <div class="star skeleton"></div>
            <div class="number-stars skeleton"></div>
        </div>
        <div class="line skeleton"></div>
        <div class="line skeleton"></div>
        <div class="line skeleton"></div>
        <div class="button skeleton"></div>
    </div>
</div>