.content{
    height: calc(100vw -64px);
    .list{
        *{
            height: inherit;
            overflow-y: auto;
            display:flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
.pd-category{
    padding: 0 2.5em 0 2.5em;
}
// @media(max-width: 768px){
//     .pd-category{
//         padding: 0;
//     } 
// }
.no-pd-category{
    padding: 0;
}
