
<div fxLayout="column" class="content">
        <div class="title">
            <mat-toolbar>
                <span>{{categoryItem.name||'Categories'}}</span>
                <div class="spacer"></div>
                <custom-input [(ngModel)]="search"
                [properties] = "{name:'Search',hasTitle:false}"
                >
                </custom-input>
                <div class="spacer"></div>
                <button mat-button *ngIf="isAdmin" color="primary" [routerLink]="['register']">
                    <mat-icon>add</mat-icon>
                    New
                </button>
            </mat-toolbar>
        </div>
        <div >
            <div class="category" [ngClass]="padding" fxLayout = "row wrap"  *ngIf="!categoryItem.name">  <!--fxLayoutAlign="center none" -->
                <div fxLayout = "row wrap" class="loading-skeleton" *ngIf="isLoading">
                    <category-skeleton  *ngFor="let item of [1,2,3,4,5,6,7]"></category-skeleton>
                </div>
                <category-card 
                *ngFor="let categoryItem of categories" [category]="categoryItem">
                </category-card>
            </div>
            <div class="items" [ngClass]="padding" fxLayout = "row wrap" *ngIf="categoryItem.name"> <!--fxLayoutAlign="center none" -->
                <item-card 
                *ngFor="let item of categoryItem.items" [item]="item">
                </item-card>
            </div>
        </div>
</div>
