
<div fxLayout="column" class="content">
    <fx-header>
        <h2 right>{{categoryItem.name||'Categories'}}</h2>
        <custom-input [(ngModel)]="search"
        [properties] = "{name:'Search',hasTitle:false,icon:'search'}"
        ></custom-input>
        <button left mat-button *ngIf="isAdmin" color="primary" [routerLink]="['register']">
            <mat-icon>add</mat-icon>
            New
        </button>
    </fx-header>
    <div class="list">
        <div class="category" [ngClass]="padding" fxLayout = "row wrap"  *ngIf="!categoryItem.name">  <!--fxLayoutAlign="center none" -->
            <div fxLayout = "row wrap" class="loading-skeleton" *ngIf="isLoading">
                <category-skeleton  *ngFor="let item of [1,2,3,4,5,6,7]"></category-skeleton>
            </div>
            <category-card 
            *ngFor="let categoryItem of categories" [category]="categoryItem">
            </category-card>
        </div>
        <div class="items" [ngClass]="padding" fxLayout = "row wrap" *ngIf="categoryItem.name"> <!--fxLayoutAlign="center none" -->
            <item-card 
            *ngFor="let item of categoryItem.items" [item]="item">
            </item-card>
        </div>
    </div>
</div>
