.card{
    max-width: 300px;
    border-radius: px;
    background-color: white;
}
.card-image{
    width: 100%;
    height:40%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}
.card-content,.card-title,.nav-button{
    margin: 15px;
}
.card-content{
    overflow: hidden;
    height: 160px;
}
.title{
    display: flex;
    align-items: center;
}
.spacer{
    flex: 1 1 auto;
}
.card-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
button{
    display: flex;
    align-items: center;
}