.custom-input{
    color: rgb(20, 20, 20);
    margin-bottom:.5em ;
    margin-top:.5em ;
}
.custom{
    background-color:  rgba(156, 156, 156, 0.25);
    border-radius: 5px;
    width: 250px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px 0 10px;
}
input{
    border: none;
    width: 98%;
    background-color:  transparent;
    height: fit-content;
    font-family: Roboto;
    font-size: small;
    color: rgb(20, 20, 20);

}
input:focus{
    border: none;
    outline-style: none;
    background-color:  transparent;
    /* border: 2px solid rgba(58, 120, 255, 0.14); */
}

.error{
    color:rgb(224, 88, 70);
}
.mat-icon{
    margin-top: .8em;
    font-size: small;
}
.message{
    font-size: x-small;
    color:rgb(224, 88, 70);
    margin-left: 5px;
}