.card{
    width: 270px;
    height: 8em;
    border-radius: 8px;
    background-color: white;
    color: rgb(27, 26, 26);
    padding: 0.5em;
    margin: .25em;
}
.skeleton{
    animation: modern-skeleton-animation 1s linear infinite alternate;
}
@keyframes modern-skeleton-animation{
    0%{
        background-color: rgb(240, 238, 238);
    }
    100%{
        background-color: rgb(221, 221, 221);
    }
}
.time-status{
    font-weight: 500;
    color: #2baa75;
    width: 100%;
}
.details{
    width: 100%;
}
.details span{
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 2em;
}
button{
    margin-top: -5%;
    float: right;
}
.mat-icon{
    /* color: rgb(43, 170, 117); */
    margin-right: 0.5em;
}