<div class="card">
    <div class="time-status" color="primary">
        <span>{{title.time}}</span>        
        <span style="float: right;">{{title.status}}</span>
    </div>
    <div class="details">
        <span>
            <mat-icon color="accent">person</mat-icon>
           {{title.username}}
        </span>
        <span>
            <mat-icon color="accent">category</mat-icon>
            {{title.count}}
        </span>
        <span>
            <mat-icon color="accent">payments</mat-icon>
            {{title.totalPrice|currency:' '}} zloty
            
        </span>
        <button mat-flat-button  [routerLink]="[title.orderId]" color="primary">View</button>
    </div>
</div>
