<div class="header">
    <mat-toolbar class="toolbar">
        <span class="logo" [routerLink]="['']" >
            <mat-icon>local_dining</mat-icon>
            <h1>Yadlings |</h1>menu
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="spacer"></div>
        <nav class="navigations">
            <a class="nav-button" *ngIf="!userService.isEmployee " mat-icon-button   matBadgeSize="small" [routerLink]="['orders']"><mat-icon>local_mall</mat-icon></a>
            <div class="guest-user" *ngIf="!userService.isLoggedIn">
                <span class="nav-button" mat-flat-button [routerLink]="['login']">Login / Sign-up</span>
                <!-- <span class="nav-button" mat-flat-button [routerLink]="['login']">Sign-up</span> -->
            </div>
            <div class="user" *ngIf="userService.isLoggedIn">
                <span class="nav-button user">
                    <mat-icon>account_circle</mat-icon>
                    {{userService.username}}
                </span>
                <span class="nav-button" (click)="userService.logout()" mat-flat-button>Logout</span>
            </div>
        </nav> 
    </mat-toolbar>
</div>
<div class="outlet">
    <router-outlet ></router-outlet>    
</div>