.logo,.navigations,.user{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toolbar{
    background-color: #252323;
    color: white;
}
.spacer{
    flex: 1 1 auto;
}
.nav-button{
    margin-left:15px;
    font-size: medium;
 } 
.outlet{
    height: 88%;
    overflow-y: auto;
}
.mat-icon{
    margin-right: .25em;
}