<div class="content">
    <table>
        <tr>
            <td><span>Nindaba Arthur James</span></td>
            <td><span>Username-0.0.1</span></td>
            <td><span>arthurninda@gmail.com</span></td>
            <td style="float: right;">
                <button mat-icon-button color="primary">
                    <mat-icon>toggle_on</mat-icon>
                    <!-- Edit -->
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                    <!-- Edit -->
                </button>
                <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                    <!-- Delete -->
                </button>
           </td>
        </tr>
    </table>
</div>
