<div class="content">
    <fx-header>
        <h2 left>Performance</h2>
        <custom-input [(ngModel)]="search"
        [properties] = "{name:'Search',hasTitle:false,icon:'search'}"
        ></custom-input>
    </fx-header>
    <div class="graphs-container">
        <div class="graph">
          <h2>Current Orders</h2>
          <div class="bar-card">
            <ngx-charts-bar-vertical
              [results]="orderCounterKeyValue|async"
              [scheme]="orderColors"
              [barPadding]="10"
              [showGridLines]="false"
              [xAxis]="true"
              [showXAxisLabel]="true"
            >
            </ngx-charts-bar-vertical>            
          </div>
          <div class="details">
            <Details>
                <table>
                    <th>Status</th>
                    <th>Orders</th>
                    <th>Items</th>
                    <th>Amount</th>
                    <tr *ngFor="let order of orderCounter|async">
                        <td>{{order.status}}</td>
                        <td>{{order.count}}</td>
                        <td>{{order.totalItems}}</td>
                        <td>{{order.totalAmount|currency:' '}}</td>
                    </tr>
                </table>
            </Details>
          </div>
        </div>
        <div class="graph">
          <h2>Most Sold Items</h2>
          <div class="bar-card">
          <ngx-charts-bar-vertical
              [results]="mostSoldItemsKeyValue|async"
              [scheme]="scheme"
              [barPadding]="10"
              [showGridLines]="false"
              [legend]="true"
              [tooltipDisabled]="false"
            >
            </ngx-charts-bar-vertical>
          </div>
            <div class="details">
                <Details>
                    <table>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Amount</th>
                        <tr *ngFor="let item of mostSoldItems|async">
                            <td>{{item.name||item.itemId}}</td>
                            <td>{{item.price|currency:' '}}</td>
                            <td>{{item.number}}</td>
                            <td>{{item.totalPrice|currency:' '}}</td>
                        </tr>
                    </table>
                </Details>
            </div>
      </div>
        <div class="graph">
          <h2>Weekly Earnings</h2>
          <div class="bar-card">
            <ngx-charts-bar-vertical
              [results]="days"
              [scheme]="scheme"
              [barPadding]="10"
              [showGridLines]="false"
              [xAxis]="true"
              [showXAxisLabel]="true"
            >
            </ngx-charts-bar-vertical>
          </div>
          <div class="details">
            <Details>
                TODO
            </Details>
        </div>
        </div>
    
        <div class="graph">
          <h2>Monthly Earnings</h2>
          <div class="bar-card">
            <ngx-charts-bar-vertical
              [results]="months"
              [scheme]="scheme"
              [barPadding]="10"
              [showGridLines]="false"
              [xAxis]="true"
              [showXAxisLabel]="true"
            >
            </ngx-charts-bar-vertical>
          </div>
          <div class="details">
            <Details>
                TODO
            </Details>
        </div>
        </div>  
      
    </div>
</div>
