.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    .graphs-container{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        .graph{
            margin: .5em;
            color: #343434;
            .bar-card{
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                background-color: white;
                width: 30em;
                height: 20em;
                margin-top:1em;
                border-radius: 5px;
                padding: 1em;
            }
            .details{
                margin-top: .5em;;
                padding:1em;
                width: 30em;
                color: #343434;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                table td,th{
                    text-align: left;
                    width: 10em;
                }
                tr:hover{
                    color: #029587;
                    cursor: pointer;
                }
            }
        }
    }    
}
@media(max-width: 768px){
    .content{
        .graphs-container{
            .graph{
                margin: 0;
                width: 100vw;
                .bar-card,.details{
                    width: calc(100% - 2em); // 2em for padding
                }
            }
        }
    }
}