<div class="content">
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
        <employee  *ngFor="let employee of employees|async"[employee]="employee"></employee>
</div>