.content{
    color: rgb(24, 23, 23);
    /* width:280px; */
    height: 100%;
}
.items{
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    /* box-shadow: 2px solid rgb(90, 151, 161); */
    
}
.title{
    height: 40px;
    display: flex;
    align-items:center;
}
.number-orders{
    color: rgb(43, 170, 117);
    float: right;
    padding-right: 1em;
}
/* .status-label{
    height: 40px;
} */
.list-items{
    height: 90%;
    overflow: auto;
    border-radius: 5px;
    /* width: 30%; */
}