.content{
    width: 300px;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
    color: rgb(24, 23, 23);
}
b{
    color: rgb(43, 170, 117);
}
.mat-icon,.mat-progress-spinner{
    color: rgb(43, 170, 117);
    /* color: white; */
}
.status-table thead{
    margin-bottom: 2em;
    border-bottom: 2px;
    border-color: black;
    background-color: red;
}
.status,.total{
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5em;
    background-color: white;
    border-radius: 5px;
}
.status button{
    align-self:flex-end;
    width: 40px;
}
.message,.description{
    width: 100%;
    background-color: rgb(236, 176, 176);
    border-radius: 5px;
    margin-top: .8em;
    padding: .5em;
}
.total{
    background-color:white;
    font-weight: 500;
    font-size: larger;
    margin-top: .5em;
    width: 100%;
}
.button-content{
    display: flex;
    align-items: center;
}
.description{
    border: none;
    height: 400px;
    background-color:  white;
    height: fit-content;
    font-family: Roboto;
    font-size: small;
    color: rgb(20, 20, 20);

}
.description:focus{
    border: none;
    outline-style: none;
}