<div class="content" >
    <div>
        <h2>Status</h2>
        <div class="status">
            <table  class="status-taable">
                <tbody>
                    <tr>
                        <td *ngIf="index == 0 && (isBasket|async)"><mat-icon color="primary" >circle</mat-icon></td>
                        <td *ngIf="index >=1"><mat-icon color="primary" >check_circle</mat-icon></td>
                        <td *ngIf="index == 0 && !(isBasket|async)"><mat-spinner  color="primary" diameter="20"></mat-spinner></td>
                        <td>Accepted</td>
                    </tr>
                    <tr>
                        <td *ngIf="index <1"><mat-icon color="primary">circle</mat-icon></td>
                        <td *ngIf="index >= 2"><mat-icon color="primary" >check_circle</mat-icon></td>
                        <td *ngIf="index ==1"><mat-spinner  color="primary" diameter="20"></mat-spinner></td>
                        <td>Cooking </td>
                    </tr>
                    <tr>
                        <td *ngIf="index < 2"><mat-icon color="primary">circle</mat-icon></td>
                        <td *ngIf="index >= 3"><mat-icon color="primary" diameter="15">check_circle</mat-icon></td>
                        <td *ngIf="index ==2"><mat-spinner  color="primary" diameter="20"></mat-spinner></td>
                        <td>Ready to serve</td>
                    </tr>
                    <tr>
                        <td *ngIf="index < 3"><mat-icon color="primary">circle</mat-icon></td>
                        <td *ngIf="index >= 4"><mat-icon color="primary" >check_circle</mat-icon></td>
                        <td *ngIf="index ==3"><mat-spinner  color="primary" diameter="20"></mat-spinner></td>
                        <td>Served </td>
                    </tr>
                    <tr>
                        <td *ngIf="index < 4"><mat-icon color="primary">circle</mat-icon></td>
                        <td *ngIf="index >=5"><mat-icon color="primary" >check_circle</mat-icon></td>
                        <td *ngIf="index ==4"><mat-spinner  color="primary" diameter="20"></mat-spinner></td>
                        <td>Payed </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="message" *ngIf="status.cancelMessage">
        {{status.cancelMessage}}
   </p>
   <span class="total">
    Total: {{totalPrice|async}} Zloty
    <div style="flex-grow: 1;"></div>
    <button *ngIf="(response|async)?.message == 'pending' ||(isBasket|async)" mat-button (click)="send()" style="width: 120px">
        <span *ngIf="(response|async)?.success" class="button-content">
            Send Order
            <mat-icon color="primary">send</mat-icon>
        </span>
        <span *ngIf="(response|async)?.message == 'pending'" class="button-content">
            <mat-spinner  color="primary" diameter="20"></mat-spinner>
            Sending
        </span>
    </button>   
   </span>
</div>
