.content{
    padding-left: 20px;
    color: rgb(24, 23, 23);
}
.space{
    flex-grow: 1;
}
.orders{
    height: 480px;
    overflow: auto;
}
.title{
    height: 40px;
    display: flex;
    align-items:center;
}