<div class="content">
    <div class="description skeleton name"></div>
    <div class="image-description">
        <div class="image skeleton"></div>
        <div class="paragraph">
            <div class="description skeleton" style="width: 60%; margin-left: 30%;"></div>
            <div class="description skeleton"></div>
            <div class="description skeleton"></div>
            <div class="description skeleton"></div>
            <div class="description skeleton"></div>
        </div>
    </div>
    <table class="items">
        <tr>
            <td>
                <div class="footer skeleton"></div>
            </td>
            <td style="padding-left:0.5em;">
                <div class="footer skeleton"></div>
            </td>
            <td>
                <div class="footer skeleton"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="footer skeleton"></div>
            </td>
            <td style="padding-left:0.5em;">
                <div class="footer skeleton"></div>
            </td>
        </tr>            
    </table>
</div>
