<div class="content">
    <div class="order" [routerLink]="['orders']">
        <mat-icon>list_alt</mat-icon>
        <label>Orders</label>
    </div>
    <mat-divider></mat-divider>
    <div class="category" [routerLink]="['category']">
        <mat-icon>fastfood</mat-icon>
        <label>Categories</label>
    </div>
    <mat-divider></mat-divider>
    <div class="account" [routerLink]="['employess']">
        <mat-icon>people</mat-icon>
        <label>Employees</label>
    </div>
    <mat-divider></mat-divider>
    <div class="performance">
        <mat-icon>trending_up</mat-icon>
        <label>Performance</label>
    </div>
    <mat-divider></mat-divider>
</div>