<div class="content">
    <div class="details">
        <h2 class="name">{{item.name}}</h2>
            <div class="image-description">
                <img class="image" [src]="item.image">
                <p>
                    {{item.description}}
                </p>
            </div>
            <div class="price-number">                
                <div style="flex-grow: 1;"></div>
                    <table class="items">
                        <tr>
                            <td>
                                <b>Price </b>
                            </td>
                            <td style="padding-left:0.5em;">
                                <label> {{item.price}} Zloty</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Items</b> 
                            </td>
                            <td>
                                <button mat-icon-button color="primary" (click)="countSub()">
                                    <mat-icon>
                                        remove
                                    </mat-icon>
                                </button>
                                <label> {{item.count}}</label> 
                                <button mat-icon-button color="primary" (click)="countAdd()">
                                    <mat-icon>
                                        add
                                    </mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total Price</b>
                            </td>
                            <td style="padding-left:0.5em;">
                                <label> {{item.price* item.count}} Zloty</label>
                            </td>
                        </tr>            
                    </table>
                <div style="flex-grow: 1;"></div>
                
            </div>
        
    </div>
    <div class="status">

    </div>
</div>
