<mat-tab-group>
    <mat-tab label="New Orders">
        <div class="matTab">
            <div class="list-items">
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
            </div>
            <div class="order-display">
                <order-display></order-display>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cooking">
        <div class="matTab">
            <div class="list-items">
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
            </div>
            <div class="order-display">
                <order-display></order-display>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Served">
        <div class="matTab">
            <div class="list-items">
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
                <order-list-item></order-list-item>
            </div>
            <div class="order-display">
                <order-display></order-display>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
