.content{
    padding-left: 20px;
    color: rgb(24, 23, 23);
}
.space{
    flex-grow: 1;
}
.orders{
    height: 540px;
    overflow: auto;
}
.title{
    height: 40px;
    display: flex;
    align-items:center;
}
.status{
    float:right;
}